body {
    height: 100vh;
    background-color: #201D1E;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    align-items: center;
    gap: 15 px;
    flex-direction: row;
    justify-content: center;
}

.bigbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu {
    background-color: #2C2D33;
    height: 98vh;
    width: 20vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    font-family:Poppins, sans-serif;
    color: #fff;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: -150px;
}

.casa {
    /* background-color: crimson; */
    margin-left: 30px;
    font-family: Poppins, sans-serif;
    margin-top: 150px;
}

.casa h2 {
    color: #B4B5BC;
    margin-bottom: 20px;
}


.bar {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.bar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.pesquisa {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.pesquisa img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.info {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.projetos {
    /* background-color: crimson; */
    margin-left: 30px;
    font-family: Poppins, sans-serif;
}

.projetos h2 {
    color: #B4B5BC;
    margin-bottom: 20px;
}

.mais {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.mais img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.heart {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.heart img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.photo {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.photo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}


.more {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 300px;
}

.engr {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 10px;
    align-items: center;
    margin-bottom: 20px
}

.engr img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.engr h3 {
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-left: 10px;
}

.help {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.help h3 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.help img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.usuario {
    background-color: #26282C;
    height: 7vh;
    width: 16vw;
    margin-bottom: 40px;
    margin-left: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.foto img {
    width: 60px;
    margin-top: 8px;
    margin-left: 10px;
    height: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.texto h3 {
    color: #fff;
    font-family: Roboto, sans-serif;
}

.texto p {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    color: #97999D;
    margin-top: 5px;
}


.tela {
    background-color: #471D71 20%;
    background: linear-gradient(150deg, #93583C 10%, #A48257 20%, #824F3C 25%, #27292D, #1B1414, #101010);
    width: 78vw;
    margin-left: 20px;
    border-radius: 20px;
    justify-content: center;
    /* align-items: flex-end; */
    padding-bottom: 20px; 
    display: flex;
    flex-direction: column;
}

.espaco {
    display: flex;
    flex-direction: column;
    background-color: #26282C;
    padding: 20px;
    width: 60vw;
    height: 20vh;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-left: 250px;
}

.espaco p {
    color: #989A9E;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: Roboto, sans-serif;
}

.minibox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    /* background-color: crimson; */
}

.botoes1 img {
    /* width: 60px;
    height: 60px; */
    filter: invert(100%);
}

.botoes2 img {
    /* width: 60px;
    height: 60px; */
    filter: invert(100%);
}

.b1 {
    margin-right: 10px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.b2 {
    width: 30px;
    height: 30px;
}

.b3 {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.b4 {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

footer {
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -850px; /* mudar isso depois */
}