body {
    height: 100vh;
    background-color: #201D1E;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    align-items: center;
    gap: 15 px;
    flex-direction: row;
    justify-content: center;
}

.bigbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu {
    background-color: #2C2D33;
    height: 98vh;
    width: 20vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    font-family:Poppins, sans-serif;
    color: #fff;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: -150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
}

.titulo img {
    width: 35px;
    height: 30px;
    filter: invert(100%);
}

.casa {
    /* background-color: crimson; */
    margin-left: 50px;
    font-family: Poppins, sans-serif;
    margin-top: 150px;
}

.casa h2 {
    color: #B4B5BC;
    margin-bottom: 20px;
}

.bar {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.bar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.pesquisa {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.pesquisa img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.info {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.projetos {
    /* background-color: crimson; */
    margin-left: 50px;
    font-family: Poppins, sans-serif;
}

.projetos h2 {
    color: #B4B5BC;
    margin-bottom: 20px;
}

.mais {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.mais img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.heart {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.heart img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.photo {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    align-items: center;
}

.photo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.more {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 300px;
}

.engr {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 10px;
    align-items: center;
    margin-bottom: 20px
}

.engr img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.engr h3 {
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-left: 10px;
}

.help {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.help h3 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.help img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.usuario {
    background-color: #26282C;
    height: 7vh;
    width: 15vw;
    margin-bottom: 40px;
    margin-left: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.foto img {
    width: 60px;
    margin-top: 8px;
    margin-left: 10px;
    height: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.texto h3 {
    color: #fff;
    font-family: Roboto, sans-serif;
}

.texto p {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    color: #97999D;
    margin-top: 5px;
}

.tela {
    background-color: #471D71 20%;
    background: linear-gradient(150deg, #93583C 10%, #A48257 20%, #824F3C 25%, #27292D, #1B1414, #101010);
    width: 78vw;
    margin-left: 20px;
    border-radius: 20px;
    justify-content: center;
    padding-bottom: 20px; 
    display: flex;
    flex-direction: column;
}

.espaco {
    display: flex;
    flex-direction: column;
    background-color: #26282C;
    padding: 20px;
    width: 50vw;
    height: 20vh;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-left: 350px;
}

.espaco p {
    color: #989A9E;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: Roboto, sans-serif;
}

.minibox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    /* background-color: crimson; */
}

.botoes1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botoes1 img {
    /* width: 60px;
    height: 60px; */
    filter: invert(100%);
    border-radius: 50%;
}

.botoes2 img {
    /* width: 60px;
    height: 60px; */
    filter: invert(100%);
}

.texto2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: Roboto, sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #9fa1a533;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    color: #989A9E;
    border: 1px solid #ffffff4e;
}

.texto3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: Roboto, sans-serif;
    background-color: #9fa1a534;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    color: #989A9E;
    border: 1px solid #ffffff4e;
}

.b1 {
    margin-right: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.b2 {
    width: 40px;
    height: 40px;
}

.b3 {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.b4 {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.box1 {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    gap: 30px;
}

.box1 img {
    width: 60px;
    height: 60px;
}

.box2 {
    display: flex;
    background-color: #ffffff2b;
    width: 500px;
    height: 70px;
    align-items: center;
    margin-left: 1100px;
    border-radius: 1vh;
}

.box2 h3 {
    margin-left: 20px;
    color: #F1ECF0;
}

.box3 {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    gap: 30px;
    margin-left: 200px;
}

.box3 img {
    width: 60px;
    height: 60px;
}

.box4 {
    display: flex;
    align-items: center;
    background-color: #2B2C32;
    width: 700px;
    height: 100px;
    border-radius: 1vh;
    margin-top: 20px;
}

.box3 h3 {
    margin-left: 20px;
    color: #F1ECF0;
}

.imagemgerada {
    display: flex;
    margin-left: 290px;
    margin-top: 30px;

}
.imagemgerada img {
    width: 630px;
    height: auto;
}

.box5 {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    gap: 30px;
    margin-top: 20px;
}

.box5 img {
    width: 60px;
    height: 60px;
}

.box6 {
    display: flex;
    background-color: #ffffff2b;
    width: 500px;
    height: 70px;
    align-items: center;
    margin-left: 1100px;
    border-radius: 1vh;
}

.box6 h3 {
    margin-left: 20px;
    color: #F1ECF0;
}

.box7 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box8 img {
    width: 60px;
    height: 60px;
}

.box9 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Roboto, sans-serif;
    color: #F1ECF0;
}

.box9 img {
    width: 40px;
    height: 40px;
    filter: invert(70%);
}

footer {
    color: #4C4C4C;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -850px; mudar isso depois */
    font-family: Roboto, sans-serif;
}

/* TABLET */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .tela { 
        margin-left: -7px;
        width: 98vw;
        height: 98vh;
    }

    .espaco {
        display: flex;
        margin-left: 150px;
        flex-direction: row;
        width: 75vw;
        height: 7vh;
        align-items: center;
    }

    .espaco p {
        margin-bottom: 25px;
        margin-right: 100px;
    }

    .botoes1 {
        display: none;
    }
    
    .botoes2 {
        margin-bottom: 40px;
    }

    .b3 {
        width: 30px;
        height: auto;
    }

    .b4 {
        width: 30px;
        height: auto;
    }

    .box3 {
        display: flex;
        margin-left: 10px;
        font-size: 11px;
        padding: 50px;
        align-items: center;
    }

    .box3 img {
        width: 40px;
        height: auto;
    }

    .box4 {
        height: 60px;
    }

    .box7 {
        display: flex;
        margin-left: 50px;
        font-size: 11px;
        align-items: center;
    }

    .box8 img {
        width: 40px;
        height: auto;
    }

    .box9 img {
        width: 20px;
        height: auto;
    }

    .box1 img {
        width: 30px;
        height: auto;
    }

    .box2 {
        margin-left: 10px;
        display: flex;
        margin-left: 10px;
        font-size: 13px;
        align-items: center;
    }

    footer {
        display: none;
    }
}